* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background: hsl(27, 66%, 92%);
  padding: 20px;
  font-size: 18px;
  /* height: 100vh;
  display: flex;
  align-items: center; */
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(10, 79%, 65%);
  padding: 20px;
  border-radius: 8px;
}

.head-text {
  color: hsl(27, 66%, 92%);
}

.balance {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}

.chart-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: hsl(28, 10%, 53%);
}

h2 {
  color: hsl(25, 47%, 15%);
  font-size: 1.5rem;
}

.chart {
}

hr {
  height: 2px;
  background: hsl(27, 66%, 92%);
  border: none;
}

.monthly-stats {
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spending {
  color: hsl(25, 47%, 15%);
  font-weight: 700;
  font-size: 2rem;
}

.comparison {
  text-align: end;
}

.difference {
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}
